#owl-demo .item{
  margin: 10px;
}
#owl-demo .item img{
  width: 50%;
  height: auto;
  border-radius: 100%;
  z-index: 50;
}

.owl-item {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.owl-theme .owl-controls .owl-buttons div {
    color: #000;
    margin: 20px;
    padding: 6px 15px;
    font-size: 24px;
    background-image: linear-gradient(to bottom,#66B657 0,#81F092 100%);
    filter: Alpha(Opacity=100);
    opacity: 1;
    font-family: 'Monoton', cursive;
}
.item h1 {
  margin-top: -75px;
  position: relative;
  font-family: 'Monoton', cursive;
  z-index: 100;
  opacity: 0;
  font-weight: bold;
}
.item:hover {
  cursor: pointer;
  opacity: 0.8;
}
.item h1:hover {
  opacity: 1;
}