body {
    background: url(../images/background.jpg) no-repeat center fixed; 
    background-size: cover;
}

.container {
    display: block;
    margin: 0 auto;
}
.story-heading {
    font-family: 'Arial';
    font-weight: bold;
    color: white;
    background-color: red;
    padding: 15px;
    text-transform: uppercase;
    border-bottom: 10px solid blue;
    margin-top: 0px;
}

.story {
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: black;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.3), 0 6px 20px 0 rgba(255, 255, 255, 0.2);
    
}
.story p {
    text-align: left;
    color: white;
    font-size: 1.3em;
    padding: 0px 20px;
}

.story video {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.3), 0 6px 20px 0 rgba(255, 255, 255, 0.2);
}
button {
    padding: 0;
    border: none;
}

video {
    margin-top: 20px;
    margin-bottom: 20px;
}

.cover-heading {
  font-family: 'Monoton', cursive;
  padding: 10px;
}

.cover-heading h1 {
    -webkit-animation-name: title; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: title;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    font-weight: 400;
}

.map {
    max-width: 300px;
}

.borders {
	display: block;
	width: 98vw;
	overflow: hidden;
	height: 20px;
}

.border {
	width: 10px;
	height: 10px;
	display: inline-block;
	border-radius: 100%;
	background: #F14285;
	margin: 3px;
}

.border:nth-of-type(3n+0) {
	background: #FFF4DC;
}

.border:nth-of-type(3n+1) {
	background: #81F092;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes title {
    from {color: #F14285;}
    to {color: #FFF4DC;}
}

/* Standard syntax */
@keyframes title {
    from {color: #F14285;}
    to {color: #FFF4DC;}
}

@media (min-width: 767px) {
    .cover-heading h1 {
        font-size: 3em;
    }
    .story {
        width: 60%;    
    }
    .map {
        max-width: 500px;
    }
}
    
