.story p {
    text-align: left;
    color: #81F092;
}

.story video {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.3), 0 6px 20px 0 rgba(255, 255, 255, 0.2);
}
button {
    padding: 0;
    border: none;
}

.jumbotron {
    background-color: black;
    padding: 10px;

}

video {
    margin-top: 20px;
    margin-bottom: 20px;
}
h1 {
    -webkit-animation-name: title; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: title;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes title {
    from {color: #F14285;}
    to {color: #FFF4DC;}
}

/* Standard syntax */
@keyframes title {
    from {color: #F14285;}
    to {color: #FFF4DC;}
}

