    .slick-slide img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 250px;
        height: 187.5px;
        border: 10px solid white;
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.3), 0 6px 20px 0 rgba(255, 255, 255, 0.2);
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .slick-slide h2 {
        margin-top: 10px;
        font-family: 'Monoton', cursive;
        color: #81F092;
        font-weight: 400;
    }
    

    .slick-dots li.slick-active button:before {
        color: rgb(55, 95, 60);
        opacity: 1;
        font-size: 8px;
    }

    .slick-dots li button:before {
        color: #81F092;
        opacity: 1;
        font-size: 8px;
    }

    .slick-prev {
        left: 0px;
        top: 40%;
    }
    .slick-next {
        right: 0px;
        top: 40%;
    }    
    
@media (min-width: 767px) {
    .slick-slide img {
        max-width: 600px;
        height: 450px;
    }
}

@media (max-width: 767px) {
    .slick-dots li {
        margin: 0px -5px
    }
}